---
http_interactions:
  - request:
      method: post
      uri: https://sandbox.ordwaylabs.com/api/v1/customers
      body:
        encoding: UTF-8
        string: '{"id":"C-3","contacts":{"display_name":""},"currency":null,"tax_exempt":false,"name":"Dis
        a new Organization","description":"Dis a new Organization description","parent_customer":null,"edit_auto_pay":false,"auto_pay":true,"delivery_preferences":{"email":true,"print":false},"payment_terms":"Net
        30","billing_cycle_day":"1st Day Of The Month","bill_to_parent":false,"customer_type":"business"}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"5359b477a20eef31a20f20cb3a42cd7c"
      body:
        encoding: ASCII-8BIT
        string: '{"name":"Dis a new Organization","customer_type":"business","description":"Dis
        a new Organization description","website":"","tax_exempt":false,"auto_pay":true,"edit_auto_pay":false,"print_preference":false,"email_preference":true,"payment_options":{},"id":"C-3","payment_terms":"Net
        30","billing_cycle_day":"1st Day Of The Month","billing_contact_id":"CT-00093","billing_contact_email":"","shipping_contact_id":"CT-00093","shipping_contact_email":"","status":"Active","billing_batch":"Default","balance":"0.00","currency":"USD","cmrr":"0.00","discounted_cmrr":"0.00","payment_gateway_id":"","delivery_preferences":{"print":false,"email":true},"contacts":[{"id":"CT-00093","customer_id":"C-3","first_name":"","last_name":"","display_name":"Dis
        a new Organization","email":"","phone":"","mobile":"","job_title":"","department":"","notes":"","address1":"","address2":"","city":"","state":"","zip":"","county":"","country":"","created_by":"reid.takken@protrainings.com","updated_by":"reid.takken@protrainings.com","created_date":"2024-06-10T18:25:47.273Z","updated_date":"2024-06-10T18:25:47.273Z","custom_fields":{}}],"created_by":"reid.takken@protrainings.com","updated_by":"reid.takken@protrainings.com","created_date":"2024-06-10T18:25:47.257Z","updated_date":"2024-06-10T18:25:47.257Z","custom_fields":{}}'
    recorded_at: Mon, 10 Jun 2024 18:25:47 GMT
recorded_with: VCR 6.2.0
