---
http_interactions:
  - request:
      method: get
      uri: https://sandbox.ordwaylabs.com/api/v1/customers/C-1
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"8370352c70295c8e31cedf65c7b4f8eb"
      body:
        encoding: ASCII-8BIT
        string: '{"name":"ProTrainings Marvel","customer_type":"business","description":"ProTrainings
        Marvel Default Organization","website":"","tax_exempt":false,"auto_pay":true,"edit_auto_pay":false,"print_preference":false,"email_preference":true,"payment_options":{},"id":"C-1","payment_terms":"Net
        30","billing_cycle_day":"1st Day Of The Month","billing_contact_id":"CT-00092","billing_contact_email":"","shipping_contact_id":"CT-00092","shipping_contact_email":"","status":"Active","billing_batch":"Default","balance":"0.00","currency":"USD","cmrr":"0.00","discounted_cmrr":"0.00","payment_gateway_id":"","delivery_preferences":{"print":false,"email":true},"contacts":[{"id":"CT-00092","customer_id":"C-1","first_name":"John","last_name":"Smith","display_name":"Here''s
        Johnny","email":"","phone":"616-123-1234","mobile":"","job_title":"","department":"","notes":"","address1":"","address2":"","city":"","state":"","zip":"","county":"","country":"United
        States of America","created_by":"reid.takken@protrainings.com","updated_by":"reid.takken@protrainings.com","created_date":"2024-06-10T12:40:15.413Z","updated_date":"2024-06-10T13:15:09.826Z","custom_fields":{}}],"created_by":"reid.takken@protrainings.com","updated_by":"reid.takken@protrainings.com","created_date":"2024-06-10T12:40:15.402Z","updated_date":"2024-06-10T12:40:15.402Z","custom_fields":{}}'
    recorded_at: Mon, 10 Jun 2024 18:36:25 GMT
recorded_with: VCR 6.2.0
