---
http_interactions:
  - request:
      method: put
      uri: https://sandbox.ordwaylabs.com/api/v1/customers/C-1
      body:
        encoding: UTF-8
        string: '{"id":"C-1","name":"Testing123","description":"Testing123 Org Description
        New","customer_type":"business"}'
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - test
        X-User-Company:
          - test
        X-User-Email:
          - test
        X-User-Token:
          - test
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"e5d973b773657edd890a602642c5f7f5"
      body:
        encoding: ASCII-8BIT
        string: '{"name":"Testing123","customer_type":"business","description":"Testing123
        Org Description New","website":"","tax_exempt":false,"auto_pay":true,"edit_auto_pay":true,"print_preference":true,"email_preference":false,"payment_options":{},"id":"C-1","payment_terms":"Net
        30","billing_cycle_day":"1st Day Of The Month","billing_contact_id":"CT-00022","billing_contact_email":"","shipping_contact_id":"CT-00022","shipping_contact_email":"","status":"Active","billing_batch":"Default","balance":"0.00","currency":"USD","cmrr":"0.00","discounted_cmrr":"0.00","payment_gateway_id":"","delivery_preferences":{"print":true,"email":false},"contacts":[{"id":"CT-00022","customer_id":"C-1","first_name":"","last_name":"","display_name":"Testing123","email":"","phone":"","mobile":"","job_title":"","department":"","notes":"","address1":"","address2":"","city":"","state":"","zip":"","county":"","country":"","created_by":"reid.takken@protrainings.com","updated_by":"reid.takken@protrainings.com","created_date":"2024-05-28T19:11:50.176Z","updated_date":"2024-05-28T19:11:50.176Z","custom_fields":{}}],"created_by":"reid.takken@protrainings.com","updated_by":"reid.takken@protrainings.com","created_date":"2024-05-28T19:11:50.163Z","updated_date":"2024-05-28T19:21:48.698Z","custom_fields":{}}'
    recorded_at: Tue, 28 May 2024 19:21:48 GMT
recorded_with: VCR 6.2.0
