---
http_interactions:
- request:
    method: put
    uri: https://sandbox.ordwaylabs.com/api/v1/contacts/CT-90
    body:
      encoding: UTF-8
      string: '"#<Ordway::Contact:0x0000000129c71fa8>"'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Warden:
      - timeout
    body:
      encoding: UTF-8
      string: '{"error":{"status":401,"title":"Invalid Email/Token combination."}}'
  recorded_at: Mon, 10 Jun 2024 18:21:13 GMT
recorded_with: VCR 6.2.0
